<ion-view view-title="cards">
  <ion-content>
    <h1>card</h1>


    <div class="cards">
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>Card Name</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/logo.png">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
      </div>
 </div>
  </ion-content>
  </ion-view>
