<ion-view  view-title="Acceuil" class="bg-app"><!--hide-back-button="true"-->
	<!--<ion-nav-bar class="bar-stable bar-dark mynavbar">
		<ion-nav-back-button class="button-clear go-back">
		</ion-nav-back-button>
	</ion-nav-bar>-->
	<ion-content>
        <div id="fh5co-main-nav-wrap">
            <div class="fh5co-nav-overlay"></div>
            <div class="fh5co-nav-inner">
                <ul id="fh5co-main-nav">
                    <li class="active"><a href="#/app/acceuil"><img src="img/home.png" style="width: 10%;margin-top: 1%;">Home</a></li>
                    <li><a href="#/app/login"><img src="img/login_1.png" style="width: 10%;margin-top: 1%;">login</a></li>
                    <li><a href="#/app/inscription"><img src="img/inscription_1.png" style="width: 10%;margin-top: 1%;">Inscription</a></li>
                    <li><a href="#/app/map" ><img src="img/map.png" style="width: 10%;margin-top: 1%;">Map</a></li>
                    <li><a href="#/app/camera"><img src="img/camera_1.png" style="width: 10%;margin-top: 1%;">Camera</a></li>
                </ul>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Header -->
        <header id="fh5co-header" role="banner">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
            <div id="fh5co-logo" class="text-center"><a href="index.html"><img src="img/pollution.png" style="width: 29%;margin-top: 15%;" alt="Image"></a></div>
        </header>
        <!-- Header -->

        <!-- Hero -->
        <aside role="complementary" id="fh5co-hero" style="background-image: url(img/imag_3.jpg);">
            <div class="fh5co-bg-overlay"></div>
            <div class="container">
                <div class="fh5co-hero-text-wrap">
                    <div class="fh5co-hero-text">
                        <h1>Pollution</h1>
                        <br class="fh5co-spacer fh5co-spacer-sm">
                        <p>
                            <a href="#/app/login" class="btn btn-primary fh5co-hero-btn">Connexion </a>
                            <a href="#/app/inscription" class="btn btn-outline fh5co-hero-btn">Inscription</a>

                        </p>
                    </div>
                </div>
            </div>
        </aside>





    </ion-content>
</ion-view>


