<ion-view hide-back-button="true" view-title="SUIVRE">
  <ion-content>

	  <div class="map" id="map" ng-model="map">

			<!--map-->
			<div class="pos-btn-abon">
				<div class="padding">
					<a class="button button-full button-abandonner" >
						Abandonner
					</a>
					<a class="button button-balanced button-full " href="#/app/avis2/22">
						Fin de course
					</a>
				</div>
		  	</div>

	  		<div class="call-msg">
	  			<div class="row">
	  				<div class="col padd-left-null">
	  					<a href="tel:{{tel}}" class="ion-android-call style-icon"></a>
	  				</div><!--col-->
	  				<div class="col padd-right-null">
						{{data.distance}}
	  				</div><!--col-->
	  			</div><!--row-->
	  			<div class="time-avatar">
	  				<img class="avatar-upload" src="http://must.sifo-consulting.com/MustProject/web/users_pictures/{{photo}}">
	  				<h5>{{data.time2}}</h5>
	  			</div>
	  		</div><!--"call-msg-->
	</div>

  </ion-content>
</ion-view>

